@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  color:#424874;  
  font-family: 'Montserrat', sans-serif;
}


.App{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap:45px;
}
.details{
  display: flex;
  padding:15px 21px;
  align-items: center;
  justify-content: space-between;
  background-color: #cac7e2;
  margin:15px 0;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}
.inside{
  padding:0 30px;
  padding-left: 48px;
  max-height: 50vh;
}
input{
  margin:20px;
  font-weight: bold;
  width:550px;
  height:40px;
  bordeR:0;
  outline: 0;
  border-radius: 5px;
  padding:20px;
  background-color: #cac7e2;
}
input::placeholder{
  font-size:15px;
  font-weight: 400;
  color:#424874;  
  letter-spacing:.3px;
}
body{
  background-color: #F4EEFF;
}
.box{
  display: flex;
  flex-direction: column;
  background-color:#DCD6F7;
  min-height: 70vh;
  width:750px;
  border-radius:15px;
  box-shadow:  14px 14px 42px #b0a6c4,
  -24px -24px 42px #ffffff;
  padding:20px;
  overflow: scroll;
}
::-webkit-scrollbar{
  display: none;
}
.add {
  padding: 9px 25px;
  border: unset;
  border-radius: 15px;
  color: #424874;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 18px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
  cursor:pointer;
  margin:15px 0;
 }
 
 .add::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #424874;
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .add:hover {
  color: #e8e8e8;
 }
 
 .add:hover::before {
  width: 100%;
 }
 .delete,.edit{
  background-color: transparent;
  border:0;
  outline: 0;
  cursor: pointer;
  font-size: 18px;
  margin:0 3px;
  }

