*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  color:#424874;  }

.App{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap:45px;
}
.details{
  display: flex;
}
input{
  margin:0 20px;
}
body{
  background-color: #F4EEFF;
}
.box{
  display: flex;
  flex-direction: column;
  background-color:#DCD6F7;
  min-height: 70vh;
  width:750px;
  border-radius:15px;
  box-shadow: rgba(0, 0, 0, 0.089) 0px 6px 6px, rgba(71, 73, 74, 0.073) 10px 15px 15px;
  padding:20px;
}